In [1]:
students=['shiva','kumar','katakam']
print(students)

['shiva', 'kumar', 'katakam']

In [3]:
print(students[0])

shiva

In [4]:
print(students[2])

katakam

In [5]:
print(students[0].title())

Shiva

In [8]:
print(students[0].upper())

SHIVA

In [9]:
print(students[-1])

katakam

In [10]:
print(students[-3])

shiva

In [11]:
type(students)

list

In [12]:
print(students)

['shiva', 'kumar', 'katakam']

In [13]:
students[2]='Katakam2'

In [14]:
print(students)

['shiva', 'kumar', 'Katakam2']

In [15]:
#adding new element in list

students.append('chary')

In [16]:
print(students)

['shiva', 'kumar', 'Katakam2', 'chary']

In [17]:
students.insert(1,'new1')

In [18]:
print(students)

['shiva', 'new1', 'kumar', 'Katakam2', 'chary']

In [19]:
students.insert(-2,'new2')

In [20]:
print(students)

['shiva', 'new1', 'kumar', 'new2', 'Katakam2', 'chary']

In [21]:
print(students[-2])

Katakam2

In [23]:
students.insert(-1,'new3')

In [24]:
print(students)

['shiva', 'new1', 'kumar', 'new2', 'Katakam2', 'new3', 'chary']