In [1]:
students=['student1','student2','student3','student4','student5','student6']

In [2]:
print(students)

['student1', 'student2', 'student3', 'student4', 'student5', 'student6']

In [3]:
len(students)

6

In [4]:
len(students)-1

5

In [5]:
for var in students:
    print(var)

student1
student2
student3
student4
student5
student6

In [6]:
for var in students:
    print(f"{var}, this student")

student1, this student
student2, this student
student3, this student
student4, this student
student5, this student
student6, this student

In [7]:
for var in students:
    print(f"{var}, this student")
print("Thanks all")

student1, this student
student2, this student
student3, this student
student4, this student
student5, this student
student6, this student
Thanks all

In [19]:
count=1
for var in students:
    print(F"Student Name: {var} rollnumber is {count}")
    count=count+1
print("these are all my students")

Student Name: student1 rollnumber is 1
Student Name: student2 rollnumber is 2
Student Name: student3 rollnumber is 3
Student Name: student4 rollnumber is 4
Student Name: student5 rollnumber is 5
Student Name: student6 rollnumber is 6
these are all my students

In [20]:
for value in range(1,11)

SyntaxError: invalid syntax (<ipython-input-20-b4a57b6e8e65>, line 1)

In [21]:
for value in range(1,11):
    print(value)

1
2
3
4
5
6
7
8
9
10

In [23]:
numbrs=list(range(1,6))
print(numbrs)

[1, 2, 3, 4, 5]

In [30]:
even_nbrs=list(range(2,51,2))

In [31]:
print(even_nbrs)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [36]:
odd_nbrs=list(range(1,51,2))

In [37]:
print(odd_nbrs)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [38]:
min(even_nbrs)

2

In [39]:
max(even_nbrs)

50

In [40]:
max(odd_nbrs)

49

In [41]:
sum(odd_nbrs)

625

In [42]:
#slicing
mystudents=['anu','veena','divya','ustav','mujeeb','vikram','chandan']

In [43]:
print(mystudents[0:1])

['anu']

In [44]:
print(mystudents[3:6])

['ustav', 'mujeeb', 'vikram']